<div class="container_payement">
  <div class="row">     
    <div class="main col-12">
      <fieldset>
         <legend>Payment</legend>
            <form class="form-horizontal">
              <div class="row">
                <div class="col-xl-3">
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="optionsRadios1" value="option1" checked="">
                          <label class="form-check-label">
                          Credit Card<i class="fa fa-cc-visa pl-10"></i><i class="fa fa-cc-amex pl-10"></i><i class="fa fa-cc-mastercard pl-10"></i>
                          </label>
                      </div>
                      <div class="space-bottom"></div>
                  </div>

                    <div class="col-xl-9">
                      
                      
                      <div class="form-group row">
                        <label class="col-lg-3 control-label text-lg-right col-form-label">Credit Card<small class="text-default">*</small></label>
                        <div class="col-lg-9">
                          <div class="row">
                            <div class="col-lg-4">
                              <select class="form-control">
                                <option value="visa" selected="selected">VISA</option>
                                <option value="master-card">Master Card</option>
                                <option value="american-express">American Express</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>


                      <div class="form-group row">
                        <label class="col-lg-3 control-label text-lg-right col-form-label">Card Number<small class="text-default">*</small></label>
                        <div class="col-lg-9">
                          <div class="row">
                            <div class="col-6 col-md-2 mb-4 mb-md-0">
                              <input type="text" class="form-control">
                            </div>
                            <div class="col-6 col-md-2 mb-4 mb-md-0">
                              <input type="text" class="form-control">
                            </div>
                            <div class="col-6 col-md-2 mb-4 mb-md-0">
                              <input type="text" class="form-control">
                            </div>
                            <div class="col-6 col-md-2 mb-4 mb-md-0">
                              <input type="text" class="form-control">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-lg-3 control-label text-lg-right col-form-label">Expiration Date<small class="text-default">*</small></label>
                        <div class="col-lg-9">
                          <div class="row">
                            <div class="col-6 col-md-2">
                              <select class="form-control">
                                <option value="01" selected="selected">01</option>
                                <option value="03">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                              </select>
                            </div>
                            <div class="col-6 col-md-2">
                              <select class="form-control">
                                <option value="2018" selected="selected">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-lg-3 control-label text-lg-right col-form-label">CVS<small class="text-default">*</small></label>
                        <div class="col-lg-9">
                          <div class="row">
                            <div class="col-6 col-md-2">
                              <input type="text" class="form-control">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>           
              </fieldset>
  			