// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-container{

}	



.container_cart{
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}


.container_shipping{
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;

}


.container_payement{
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;

}

.cart .table > tbody > tr > td, .cart.table > tbody > tr > td {
        text-align: center; 
}

.table-colored > thead > tr > th{
     text-align: center; 
}

*, *::before, *::after{
      padding-right: 2px;
      padding-left: 2px;
}